@import "introMenu";
@import "copyTitleScreen";

* {
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  
  body {
    font-family: "Gilroy ExtraBold", system-ui, sans-serif;
    color: white;
    overflow: hidden;;
  }
 